.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 17px;
    background-color: gainsboro;
}


input{
    width: 19vw;
    height: 34px;
    margin-top: 40px;
    font-size: 21px;
}

button{
	margin-top: 50px;
    height: 35px;
    border: 1px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.3rem;
}